
# dependencies
node_modules
/.pnp
.pnp.js

# logs
logs

# testing
/coverage

# contracts
cache/
artifacts/
typechain/
src/services/ledger/types/

# production
/dist
dist/
src/generated



# misc
.eslintcache
.DS_Store
.vscode
.idea
.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

./remove_images.sh
./remove_containers.sh
